.H-coursesDiv {
    padding: 60px 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.H-course {
    width: 75%;
    text-align: left;
}

.H-course h3 {
    font-size: 24px;
    color: #3c3b37;
    margin-bottom: 10px;
}

.H-course h2 {
    font-size: 26px;
    color: #3c3b37;
    margin-bottom: 20px;
}

.H-course p {
    color: #66655e;
}